
#slik2{float:right;
width:250px;
height: auto;
margin-top: 5px;
padding-right: 15px;}


#slika1{width: auto;
height: 500px;}


.dugelis{font-style: normal;
font-weight:lighter;
font-size: 27px;}
.span1{font-style: italic;}

#sidebar{padding:15px;
float: left;
margin-left: 150px;
font-size: 34px;
overflow: hidden;}
#main{padding:15px;
float: right;
text-align: center;
font-size: 20px;
margin-right: 150px;
line-height: 30px;
}
#main h1{font-style: italic;
color:gray}

#main p{font-style:oblique;}
#main2{
    padding:15px;
float: right;
text-align: center;
font-size: 20px;
margin-right: 115px;
line-height: 30px;
}
#naslovp{font-size: 50px;
    font-weight: bold;
font-style: italic;}
#main3{padding:0px;
    float: right;
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
    line-height: 25px;
   
text-align: right;
font-size: 17px;
text-transform: capitalize;

    

}
#main3 h4 {font-size: 40px;
font-style: italic;}
#main3 h5{
    font-size: 40px;
font-style: italic;
}
#main3 h6{
    font-size: 40px;
font-style: italic;
overflow: hidden;
}

#university{overflow: hidden;}
#main4{
    padding top:0px;
    margin top:0;
    overflow: hidden;
    font-size: 20px;
    
    line-height: 25px;
   
    text-align: right;
    font-size: 17px;
    text-transform: capitalize;
    display: inline;
}
#main4 p{padding-top: 0;
margin-right:30px;
float:right;
text-align:right;
display: inline;
}
#naslov2 {font-weight: bold;
text-decoration: wavy;
font-style: italic;
font-size: 50px;
margin-right: 30px;

padding-bottom: 0%;
color:palevioletred;
overflow: hidden;
margin-top: 50px;
border-collapse: 0;}
#naslov3{
    margin-right: 30px;
    font-weight: bold;
        text-decoration: wavy;
        font-style: italic;
        font-size:27px; 
        color:lightpink;
    float:right;
display: inline-block;}
       
#tabla{clear: both;;
table-layout: 30px;
border-style: solid;
border-width:5px;
border-right: lavender;
box-sizing: 30px;
}
#side{
    float: left;
margin-left: 100px;
margin-top: 50px;
padding-top: 0;
font-size:30px;
font-weight: bold;
display: inline;}
#zadatak2{display: inline;}